/*          -----Layout-----           */
div#white-box {
  vertical-align: middle;
  height: 75px;
  width: 75px;
}

div#title {
  vertical-align: middle;
  width: 400px;
  height: 75px;
}

.menu {
  padding: 5px;
  display: block;
}

div#menu {
  vertical-align: top;
  width: 75px;
  height: 600px;
  padding: 10px;
  margin: 20px;
}

div#content {
  vertical-align: middle;
  height: 600px;
  width: 800px;
}

/*          -----General-----           */
div {
  display: inline-block;
}

div.inner {
  display: table;
  margin: auto;
}

div.outer {
  width: 100%
}
