/*          -----Layout-----           */

div#white-box {
  /*background-color: #379154;*/
  position: relative;
  vertical-align: bottom;
  min-height: 75px;
  width: 120px;
  margin: 0;
}

div#title {
  /*background-color: rgba(222, 92, 90, 0.15);*/
  vertical-align: middle;
  min-height: 75px;
  width: 75%;
  border-bottom: 1px groove black;
  border-left: 1px groove black;
  border-radius: 5px;
}

.title {
  padding-left: 30px;
}

.menu {
  padding: 2px;
  display: block;
}

div#menu {
  /*background-color: rgba(255, 203, 71, 0.15);*/
  text-align: center;
  vertical-align: top;
  width: 120px;
  height: 100%;
  padding: 10px;
  border-top: 1px groove black;
  border-right: 1px groove black;
  border-radius: 5px;

}

div#content {
  background-color: ;
  vertical-align: middle;
  height: auto;
  width: 85%;
  padding-top: 5px;
}

/*          -----General-----           */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
}

body.user {
  display: table-cell;
  vertical-align: middle;
}

form.user {
  display: table;
  margin: auto;
}

.content-box {
  padding-left: 20px;
}

div {
  white-space: nowrap;
  display: inline-block;
}

div.inner {
  display: table;
  margin: auto;
}

div.outer {
  width: 100%;
}

.wrap {
  white-space: normal;
}

.sm-font {
  font-size: 12px;
}

.text-glow-right {
   text-shadow: 5px 0px 20px red;
}

.text-glow-left {
   text-shadow: -5px 0px 20px red;
}

/*          -----Table-----           */
.check {
  width: 5%;
}

.date {
  width:18%;
}

.from {
  width: 18%;
}

.title {
  width: 45%;
}

.action {
  width: 14%;
}

/*          -----Form-----           */
label {
  font-size: 10px;
}

input.center-button {
  align: middle;
}

input.width {
  width: 500px;
}

textarea.size {
  resize: none;
  overflow: auto;
  width:500px;
  height: 200px;
}
