<div class='outer content-box'>
  <h3><strong>recipes</strong></h3>
  <a href='/recipes/new'>
    <button class='btn btn-xs btn-success'>create recipe
    </button>
  </a>
  <br>
  <span class='text-success'>
    <%= flash[:new] %>
  </span>
  <span class='text-danger'>
    <%= flash[:delete] %>
  </span>
    <dl>
      <dt></dt>
        <% @recipes.each do |recipe| %>
          <dd><a class='btn btn-link' href='/recipes/<%= recipe.id %>'><%= recipe.name %></a>
            <% if recipe.favorite == 1 %>
              <span class='sm-font text-danger text-glow-right'><</span>
              <span class='sm-font text-danger text-glow-left'>3</span></dd>
            <% end %>
        <% end %>
      <br>
    </dl>
</div>
