<div class='outer'>
  <div class='inner'>
    <h2 class='text-center'>create account</h2>
    <form class='user' method='post' action='/signup'>
      <div class='form-group'>
        <label for='username'>username</label><br>
        <input id='username' class='form-control input-sm' type='text' name='username' placeholder='username'>
      </div><br>
      <div class='form-group'>
        <label for='email'>email</label><br>
        <input id='email' class='form-control input-sm' type='email' name='email' placeholder='email'>
      </div><br>
      <div class='form-group'>
        <label for='password'>password</label><br>
        <input id='password' class='form-control input-sm' type='password' name='password' placeholder='password'>
      </div><br>
        <input class='center-block btn btn-xs btn-primary' type='submit' value='create'>
      </form>
  </div>
</div>
