<div class='outer content-box'>
  <h3><strong>find a friend</strong></h3>
  <span class='text-warning'>
    <%= flash[:nonexistant] %>
  </span>
  <form method='post' action='/friends'>
    <div class='form-group'>
      <label for='query' hidden></label>
      <input class='form-control input-sm' type='text' name='query' required><br>
    <input class='btn btn-xs btn-info' type='submit' value='find'>
  </form>
</div>
