<div class='outer content-box'>
  <h3><strong>friends</strong></h3>
    <ul style='list-style-type: none;'>
      <% @user.friends.each do |friend| %>
        <li><a href='/friends/<%= friend.id %>'><%= friend.username %></a></li>
      <% end %>
    </ul>
</div>
