<div class='outer'>
  <div class='inner'>
    <h2 class='text-center'>login</h2>
    <span class='text-danger'>
      <%= flash[:login] %>
    </span>
    <form method='post' action='/login'>
      <div class='form-group'>
        <label for='user'>username or email</label>
        <input id='user' class='form-control input-sm' type='text' name='user' placeholder='username or email'>
      </div>
      <br>
      <div class='form-group'>
        <label for='password'>password</label>
        <input id='password' class='form-control input-sm' type='password' name='password' placeholder='password'>
      </div>
      <br>
      <input class='center-block btn btn-xs btn-primary' type='submit' value='login'>
    </form>
  </div>
</div>
