<div class='inner'>
  <h1>welcome</h1>
    <span class='text-warning'>
      <%= flash[:logout] %>
    </span>
    <div class='center-block'>
      <a class='text-center btn btn-link' href='/signup'>signup</a> | 
      <a class='text-center btn btn-link' href='/login'>login</a>
    </div>
</div>
