<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="/css/style.css" type='text/css'>
    <meta charset="utf-8">
    <title></title>
  </head>
      <% if logged_in? %>
        <body class='body-bgc'>
          <div class='container-fluid'>
          <div style='white-space: nowrap'>
            <div id='white-box'>
            </div>
            <div id='title'>
              <h1>esculent methods - <%= current_user.username %></h1>
            </div>
            <br>
            <div id='menu'>
              <div class='menu body-bgc'><a href='/messages'>inbox(<%= current_user.messages.count %>)</a></div>
              <div class='menu'><a href='/recipes'>my recipes</a></div>
              <div class='menu'><a href='/friends/find'>find friend</a></div>
              <div class='menu'><a href='/friends'>friends</a></div>
              <div class='menu'><a href='/logout'>logout</a></div>
            </div>
            <div id='content'>
              <%= yield %>
            </div>
          </div>
      <% else %>
        <body class='body-bgc'>
          <div class='outer'>
            <%= yield %>
          </div>
      <% end %>
    </div>
  </body>
</html>
