<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type='text/css'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <% if logged_in? %>
    <body>
      <table id='layout'>
        <tr>
          <td id='title'>
            <span style='font-size: 50px;'>Welcome!</span>
          </td>
        </tr>
        <tr>
          <td id='menu'>
            <ul class='menu'>
              <li><a href='/recipes'>Home</a></li>
              <li><a href='/recipes/new'>Create Recipe</a></li>
              <li><a href='/friends'>Friends</a></li>
              <li><a href='/logout'>Logout</a></li>
            </ul>
          </td>
          <td>
            <%= yield %>
          </td>
        </tr>
      </table>
  <% else %>
    <body>
      <%= yield %>
  <% end %>
    </body>
</html>
