<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css" type='text/css'>
    <meta charset="utf-8">
    <title>esculent methods</title>
  </head>
    <% if logged_in? %>
      <body class='body-bgc'>
        <div class='container-fluid' style='white-space: nowrap'>
          <div id='white-box'>
          </div>
          <div id='title'>
            <h1 class='title'>esculent methods</h1>
          </div>
          <br>
          <div id='menu'>
            <div class='sm-font text-success text-center'><%= current_user.username %>
            </div>
            <div class='menu'>
              <a class='btn btn-xs btn-block btn-primary' href='/messages'>inbox(<%= current_user.messages.count %>)</a>
            </div>
            <div class='menu'>
              <a class='btn btn-xs btn-block btn-primary' href='/recipes'>my recipes</a>
            </div>
            <div class='menu'>
              <a class='btn btn-xs btn-block btn-primary' href='/friends/find'>find friend</a>
            </div>
            <div class='menu'>
              <a class='btn btn-xs btn-block btn-primary' href='/friends'>friends</a>
            </div>
            <div class='menu'>
              <a class='btn btn-xs btn-block btn-primary' href='/logout'>logout</a>
            </div>
          </div>
          <div id='content'>
            <%= yield %>
          </div>
        </div>
    <% else %>
      <body class='user'>
        <div class='outer'>
          <%= yield %>
        </div>
    <% end %>
  </body>
</html>
