<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type='text/css'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <% if logged_in? %>
    <body>
      <div style='white-space: nowrap'>
        <div id='white-box'>
        </div>
        <div id='title'>
          <h1>comestible methods</h1>
        </div>
        <br>
        <div id='menu'>
          <div class='menu'><a href='/recipes'>recipes</a></div>
          <div class='menu'><a href='/friends'>friends</a></div>
          <div class='menu'><a href='/logout'>logout</a></div>
        </div>
        <div id='content'>
          <%= yield %>
        </div>
      </div>
  <% else %>
    <body>
      <div class='outer'>
        <%= yield %>
      </div>
  <% end %>
    </body>
</html>
